
@{
    ViewData["Title"] = "AboutUs";
}

<h1>Sobre nosotros</h1>
<br />

<div>
    <div>
        <h2>Nuestra misión:</h2>
        <p>
            Facilitar el acceso seguro y global a la información de vacunación mediante tecnología blockchain, proporcionando a las personas un registro inalterable y fácilmente accesible de su historial de vacunación. Buscamos promover la salud pública y la transparencia, contribuyendo así a un mundo más seguro y conectado.
        </p>
        <br />
        <br />
        <h2>Visión:</h2>
        <p>
            Ser la principal plataforma descentralizada a nivel mundial para el almacenamiento y verificación de certificados de vacunación, utilizando la tecnología blockchain para impulsar la transparencia, la eficiencia y la interoperabilidad en la gestión de la salud global. Aspiramos a ser reconocidos como un catalizador clave en la lucha contra enfermedades y pandemias, mejorando la confianza y seguridad de las comunidades en todo el mundo.
        </p>
        <br />
        <br />
        <h2>Valores:</h2>
        <p>
            <b>Integridad:</b>  Comprometidos con la inalterabilidad de la información, mantenemos la integridad de los registros de vacunación para garantizar la confianza de los usuarios y la precisión de los datos.
            <br />
            <br />
            <b>Colaboración:</b> Fomentamos la colaboración y la interoperabilidad con entidades de salud, gobiernos y organizaciones para construir un ecosistema global que beneficie a la salud pública.
            <br />
            <br />
            <b>Innovación:</b>Innovación: Abrazamos la innovación constante, explorando nuevas formas de utilizar la tecnología blockchain para mejorar la eficiencia y la seguridad en la gestión de la información de vacunación.
            <br />
            <br />
            <b>Transparencia:</b> Priorizamos la transparencia en todas nuestras operaciones, desde la gestión interna hasta la interacción con usuarios y socios, para construir confianza y credibilidad.
            <br />
            <br />
            <b>Empoderamiento del Usuario:</b> Ponemos a los usuarios en control de su información de vacunación, brindándoles un fácil acceso y el poder de compartir su historial de manera segura y voluntaria.
        </p>
        <br />
        <br />
        <h2>¿Quiénes somos?:</h2>
        <p>
            Somos un equipo apasionado y diverso de profesionales comprometidos con la mejora de la salud global mediante la aplicación innovadora de la tecnología blockchain. Nos dedicamos a proporcionar soluciones que empoderen a las personas, promuevan la transparencia y fortalezcan la respuesta global a los desafíos de salud. Nuestra experiencia técnica y nuestro compromiso con los valores fundamentales nos impulsan a liderar el cambio en la gestión de la información de vacunación a nivel mundial.
        </p>
    </div>
</div>

