@{
    ViewData["Title"] = "InmunityChane";
}

<div class="text-center">
    <div>
        <img src="https://raw.githubusercontent.com/Monarca117/InmunityChane/0ca624b5e2f59365234de252ab99f5005bdeac20/1.jpg" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <p id="PT">
            La importancia de los certificados de vacunas en nuestra aplicación basada en tecnología blockchain radica en varios aspectos clave:
        </p>
        <br />
        <br />

       
    </div>
</div>
