@{
    ViewData["Title"] = "InmunityChane";
}

<div class="text-center">
    <div>
        <img src="https://raw.githubusercontent.com/Monarca117/InmunityChane/0ca624b5e2f59365234de252ab99f5005bdeac20/1.jpg" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <p id="PT">
            La importancia de los certificados de vacunas en nuestra aplicación basada en tecnología blockchain radica en varios aspectos clave:
        </p>
        <br />
        <br />
        <p id="PT">
            <b>
                Seguridad y Autenticidad:
            </b> La tecnología blockchain garantiza la seguridad y autenticidad de los certificados de vacunas, creando un registro inmutable que elimina la posibilidad de manipulación. Esto fortalece la confianza de los usuarios en la veracidad de su historial de vacunación.
        </p>
        <br />
        <br />

        <p id="PT">
            <b>
                Acceso Fácil y Rápido:
            </b> La descentralización de la plataforma permite un acceso fácil y rápido al historial de vacunación de cada individuo. Esto facilita a los usuarios la presentación rápida y verificable de sus certificados cuando sea necesario, ya sea para viajes, actividades sociales o atención médica.
        </p>
        <br />
        <br />

        <p id="PT">
            <b>
                Transparencia y Confianza:
            </b> Al utilizar blockchain, promovemos la transparencia en la gestión de los certificados de vacunación. La información es accesible a través de un registro distribuido, generando confianza en la precisión y la integridad de los datos.
        </p>
        <br />
        <br />

        <p id="PT">
            <b>
                Interoperabilidad Global:
            </b>Al adoptar blockchain, nuestra plataforma facilita la interoperabilidad global. Los certificados de vacunas emitidos y verificados en la plataforma son reconocidos y aceptados en diversos contextos internacionales, facilitando la movilidad y la cooperación global.
        </p>
        <br />
        <br />

        <p id="PT">
            <b>
                Gestión Descentralizada:
            </b>La descentralización no solo garantiza la seguridad, sino que también elimina la dependencia de una única entidad central. Esto descentraliza el control sobre los datos, empoderando a los usuarios y reduciendo riesgos de manipulación o pérdida de información.
        </p>
        <br />
        <br />

        <p id="PT">
            <b>
                Facilitación de Programas de Salud Pública:
            </b>La plataforma respalda eficazmente los programas de salud pública al proporcionar datos precisos y actualizados sobre la cobertura de vacunación. Esto facilita la planificación y ejecución de estrategias para abordar desafíos de salud a nivel comunitario.
        </p>
        <br />
        <br />

        <p id="PT">
            En resumen, nuestra aplicación aprovecha la tecnología blockchain para ofrecer certificados de vacunas que son seguros, fácilmente accesibles y promueven la transparencia a nivel global. Esto no solo mejora la gestión de la salud individual, sino que también contribuye significativamente a la eficiencia y confianza en los esfuerzos de salud pública a escala mundial.
        </p>
        <br />
        <br />
    </div>
</div>
