@{
    ViewData["Title"] = "User";
}



<br />
<br />
<div class="text-center">
    <h1>Pestaña de usuario</h1>
    <br />
    <br />
    <br />
    <br />

    <h3>Introduce el enlace a tu correo electrónico y contraseña</h3>
    <br />
    <br />
    <br />
    <br />
    <form action="#" method="post">
        <label for="redSocial">Correo:</label>
        <input type="text" id="redSocial" name="redSocial" placeholder="https://www.ejemplo.com/tu_perfil" required>

        <br>
        <br />

        <label for="redSocial">Contraseña:</label>
        <input type="text" id="redSocial" name="redSocial" placeholder="" required>

        <br>
        <br />

        <input type="submit" value="Aceptar">
    </form>
</div>
